@use 'styles/variables' as *;

/*
  Josh Comeau's Custom CSS Reset
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    /*
      This is a new property, and not yet supported in browsers.
      But it's a forward-thinking enhancement.
    */
    interpolate-size: allow-keywords;
  }
}

/* 4 & 5. Body element improvements */
body {
  // --- From our variables ---
  background-color: $color-gray-light;
  color: $color-gray-dark;
  font-family: $font-family-base;
  font-size: $font-size-base;
  -moz-osx-font-smoothing: grayscale;

  // --- From the reset ---
  line-height: $line-height-base; // Use our variable
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8 & 9. Improve text wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 10. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}
